apiVersion: kubeone.io/v1alpha1
kind: KubeOneCluster
name: myk8s
versions:
  kubernetes: "1.14.4"
cloudProvider:
  name: 'hetzner'
  external: true
clusterNetwork:
  cni:
    provider: weave-net
features:
  podSecurityPolicy:
    enable: true
